{% extends 'manager/login_base.html' %}
{% load staticfiles %}
{% block script %}

    {% if not is_handle_login %}
    
        <script type="text/javascript">
            $("#submit").click(function () {
                var account = $("#account").val();
                if (!account) {
                    $("#erro_title").text('账号不能为空')
                    $("#error").modal('show');
                    setTimeout(function () {
                        $("#error").modal('hide');
                    }, 1100);
                    return false;
                }
                var pwd = $("#pwd").val();
                if (!pwd) {
                    $("#erro_title").text('密码不能为空')
                    $("#error").modal('show');
                    setTimeout(function () {
                        $("#error").modal('hide');
                    }, 1100);
                    return false;
                }
            })
        </script>
    
    {% else %}
        <script type="text/javascript">
            $(function(){
                    $("#info_detail").text('{{ login_info }}')
                    $("#info_modal").modal({
                        keyboard: true
                    });
                    setTimeout(function () {
                        $("#info_modal").modal('hide');
                    }, 1600);
                });
            {% if login_result %}
                window.location.href = "{% url 'manager:index' %}";
            {% endif %}
        </script>


    {% endif %}

{% endblock %}

    
    
    
