{% extends 'manager/base.html' %}

{% block script %}
    <script type="text/javascript">
        $(function(){
            $("#info_detail").text('{{ logout_info }}')
            $("#info_modal").modal({
                keyboard: true
            });
            setTimeout(function () {
                $("#info_modal").modal('hide');
            }, 1500);
            setTimeout(function () {
                window.location.href = "{% url 'manager:index' %}";
            }, 1000);
        });
    </script> 
{% endblock %}
