{% extends 'manager/base.html' %}
{% load staticfiles %}

{% block style %}
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/bootstrap-fileinput/fileinput.min.css' %}" /> 
{% endblock %}

{% block active2 %}list-group-item-info{% endblock %}

{% block content %}
    {% if name == '未登录' %}
        <a href="{% url 'manager:login' %}" style="color: red">（提示：后台管理操作需要先登录管理员帐号！）</a>
    {% else %}
        {% if not is_handle_upload %}
            <form method="post" action="{% url 'manager:upload_file' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="txt_file" id="txt_file" multiple class="file-loading" />
                <input type="hidden" name="is_handle_upload" value="True">
            </form>
        {% else %}
            {% if upload_result %}
                <b>上传成功！</b>
            {% else %}
                <b>上传失败！</b>
            {% endif %}
        {% endif %}
    {% endif %}

{#    {% if name == '未登录' %}#}
{#        <a href="{% url 'manager:login' %}" style="color: red">（提示：后台管理操作需要先登录管理员帐号！）</a>#}
{#    {% else %}#}
{#        {% if not is_handle_upload %}#}
{#            <form method="post" action="{% url 'manager:upload_file' %}" enctype="multipart/form-data">#}
{#                {% csrf_token %}#}
{#                <input type="file" name="doc"/> <br><br>#}
{#                <input type="hidden" name="is_handle_upload" value="True">#}
{#                <input type="submit" value="上 传">#}
{#            </form>#}
{#        {% else %}#}
{#            {% if upload_result %}#}
{#                <b>上传成功！</b>#}
{#            {% else %}#}
{#                <b>上传失败！</b>#}
{#            {% endif %}#}
{#        {% endif %}#}
{#    {% endif %}#}

{% endblock %}

{% block script %}

    <script type="text/javascript" src="{% static 'bootstrap/bootstrap-fileinput/fileinput.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap-fileinput/zh.js' %}"></script>
    <script>
        $(function () {
            //0.初始化fileinput
            var oFileInput = new FileInput();
            oFileInput.Init("txt_file", "/api/OrderApi/ImportOrder");
        });
        //初始化fileinput
        var FileInput = function () {
            var oFile = new Object();
        
            //初始化fileinput控件（第一次初始化）
            oFile.Init = function(ctrlName, uploadUrl) {
            var control = $('#' + ctrlName);
        
            //初始化上传控件的样式
            control.fileinput({
                language: 'zh', //设置语言
                uploadUrl: uploadUrl, //上传的地址
                allowedFileExtensions: ['htm', 'html'],//接收的文件后缀
                showUpload: true, //是否显示上传按钮
                showCaption: false,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式     
                //dropZoneEnabled: false,//是否显示拖拽区域
                //minImageWidth: 50, //图片的最小宽度
                //minImageHeight: 50,//图片的最小高度
                maxImageWidth: 1000,//图片的最大宽度
                maxImageHeight: 1000,//图片的最大高度
                maxFileCount: 3, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount:true,
                showPreview: true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            });
        
            //导入文件上传完成之后的事件
            $("#txt_file").on("fileuploaded", function (event, data, previewId, index) {
                $("#myModal").modal("hide");
                var data = data.response.lstOrderImport;
                if (data == undefined) {
                    toastr.error('文件格式类型不正确');
                    return;
                }
                //1.初始化表格
                var oTable = new TableInit();
                oTable.Init(data);
                $("#div_startimport").show();
            });
        }
            return oFile;
        };
    </script>
    
{% endblock %}
