<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {{ page_title}} | {{ app_name|default:"智能问答系统（后台管理）" }}
    </title>
    <style type="text/css">
        *{
            color: #113228;
            font-family: 'Microsoft Yahei';
            text-decoration: none;
         }
    </style>
    {% block style %}
    {% endblock %}

    {% block script %}
    {% endblock %}

</head>
<body>
    <table width="1300" align="center">
        <tr>
            <td align="center">
                <h1>
                    <a href="{% url 'manager:index' %}">{{ app_name|default:"智能问答系统（后台管理）" }}</a>
                </h1>
                您好，{{ name|default:"未登录" }}，欢迎使用{{ app_name|default:"智能问答系统（后台管理）" }}！
                <a href="{% url 'manager:login' %}">登录 </a>
                <a href="{% url 'manager:logout' %}"> 退出</a>
                <br>
                <hr>
            </td>
        </tr>
        <tr>
            <td align="center">
               {% block body %}
               {% endblock %}
            </td>
        </tr>
        <tr>
            <td align="center">
                <br>
                <br>
                    <b>
                        <a href="{% url 'user:index' %}">用户主页</a> |
                        <a href="{% url 'manager:index' %}">后台管理主页</a>
                    </b>
                <br>
            </td>
        </tr>
        <tr>
            <td align="center">
                <hr>
                Powered by <a href="https://www.djangoproject.com/">Django</a> | <a href="https://sse.ustc.edu.cn/">Contact Us</a>
            </td>
        </tr>
    </table>
</body>
</html>
