{% extends 'manager/base.html' %}

{% block style %}
<style type="text/css">
    table.gridtable {
        text-align:center;
        color:#333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }
    table.gridtable th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }
    table.gridtable td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }
</style>
{% endblock style%}

{% block body %}
    <h2>{{ page_title }}</h2>  <br>
    {% if name == '未登录' %}
        <a href="{% url 'manager:login' %}" style="color: red">（提示：后台管理操作需要先登录管理员帐号！）</a>
    {% else %}
        <form action= "{% url 'manager:qa_generate' %}" method="post">
        {% csrf_token %}
            <table class="gridtable">
                <tr>
                    <th width="500">文件名</th>
                    <th width="50">选择</th>
                </tr>
                {% for file in file_list %}
                    <tr>
                        <td>{{ file }}</td>
                        <td>
                        <input type="checkbox" name="{{file}}" value="True">
                        </td>
                    </tr>
                {% endfor %}
                <tr> 
                    <td colspan="2">
                        <input type="hidden" name="is_handle_generate" value="True">
                        <input type="submit" value="为选中文件生成QA对">
                    </td>
                </tr>
            </table>
        </form>

    {% endif %}
{% endblock body %}
