{% extends 'manager/base.html' %}

{% block style %}
<style type="text/css">
    table.gridtable {
        text-align:center;
        color:#333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }
    table.gridtable th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }
    table.gridtable td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }
</style>
{% endblock style%}

{% block script %}
    <script type="text/javascript">
        function isDelete(pk) {
           if(confirm("确认删除此条记录吗？")){
                window.location = "/manager/qa_delete/pk="+pk;
           }
        }
    </script>
{% endblock %}

{% block body %}
    <h2>{{ page_title }}</h2>  <br>
    {% if name == '未登录' %}
        <a href="{% url 'manager:login' %}" style="color: red">（提示：后台管理操作需要先登录管理员帐号！）</a>
    {% else %}
        <table>
            <tr>
                <form action="{% url 'manager:qa_search' %}" method="post">
                    {% csrf_token %}
                    <td width="140">
                        <table>
                            <tr>
                                <td rowspan="2"> 按 </td>
                                <td><input type="radio" name="search_type" value="q" checked> <span>问题</span> </td>
                                <td rowspan="2"> 搜索 </td>
                            </tr>
                            <tr>
                                <td><input type="radio" name="search_type" value="a"> <span>答案</span> </td>
                            </tr>
                        </table>
                    </td>
                    <td width="200"><input type="text" name="search_content"></td>
                    <td width="200"><input type="submit" value="搜 索"></td>
                </form>
                <td width="200" align="right"><a href="{% url 'manager:qa_create' %}"> <b> 新增QA对 </b> </a></td>
            </tr>
        </table>
        <table class="gridtable">
            <tr>
                <th width="70">问题编号</th>
                <th width="200">问题</th>
                <th>答案</th>
                <th width="50">修改</thw>
                <th width="50">删除</th>
            </tr>
            {% for qa in this_page_list %}
                <tr>
                    <td>{{ qa._id }}</td>
                    <td>{{ qa._source.question }}</td>
                    <td>{{ qa._source.answer }}</td>
                    <td>
                        <a href="{% url 'manager:qa_update' qa.pk %}"><b>修改</b></a>
                    </td>
                    <td>
                        <a href="javascript:;" onclick="isDelete({{ qa.pk }})"><b>删除</b></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <br>

        <!--页码-->
        <b>第 {{ index }} 页&nbsp;&nbsp;</b>
        {%for i in index_list%}
            {% if i == index %}
                {{ i }}&nbsp;&nbsp;
            {% else %}
                <b><a href="{% url 'manager:qa_management' i %}">{{ i }}</a>&nbsp;&nbsp;</b>
            {% endif %}
        {%endfor%}
    {% endif %}
{% endblock body %}

