{% extends 'manager/base.html' %}

{% block style %}
<style type="text/css">
    table.gridtable {
        text-align:center;
        color:#333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }
    table.gridtable th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }
    table.gridtable td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }
</style>
{% endblock style%}

{% block script %}
    <script type="text/javascript">
        function isDelete(pk) {
           if(confirm("确认删除此条记录吗？")){
                window.location = "/manager/qa_delete/pk="+pk;
           }
        }
    </script>
{% endblock %}

{% block body %}
    <h2>{{ page_title }}</h2>  <br>
    {% if name == '未登录' %}
        <a href="{% url 'manager:login' %}" style="color: red">（提示：后台管理操作需要先登录管理员帐号！）</a>
    {% else %}
        <table class="gridtable" width="800">
            <tr>
                <th width="80">用户编号</th>
                <th >用户名</th>
                <th>密码</th>
                <th width="">修改</thw>
                <th width="">删除</th>
            </tr>
            {% for user in this_page_list %}
                <tr>
                    <td>{{ user.pk }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.pwd }}</td>
                    <td>
                        <a href="{% url 'manager:user_update' %}"><b>修改</b></a>
                    </td>
                    <td>
                        <a href="javascript:;" onclick="isDelete({{ user.pk }})"><b>删除</b></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <br>

        <!--页码-->
        <b>第 {{ index }} 页&nbsp;&nbsp;</b>
        {%for i in index_list%}
            {% if i == index %}
                {{ i }}&nbsp;&nbsp;
            {% else %}
                <b><a href="{% url 'manager:user_management' i %}">{{ i }}</a>&nbsp;&nbsp;</b>
            {% endif %}
        {%endfor%}
    {% endif %}
{% endblock body %}