{% extends 'user/base.html' %}
{% load staticfiles%}

{% block style %}
<style type="text/css">
    *{
        margin: 0;
        padding: 0;
        background:#f8f8f8;
    }
    #box{
        width:600px;
        height:500px;
        margin: 80px auto;
        border:1px solid #666;
    }
    .talk_show{
        width:580px;
        height: 420px;
        margin: 10px auto;
        border: 1px solid #666666;
        overflow: auto;
    }
    .talk_input{
        width:580px;
        margin: 10px auto;
    }
    .whotalk{
        width: 80px;
        height: 30px;
        float: left;
    }
    .talk_word{
        width: 480px;
        height: 26px;
        margin-left: 10px;
        margin-top:5px;
        float: left;
        color:rgb(0,0,0);
    }
    .talk_sub{
        width: 56px;
        height: 30px;
        float: left;
        margin-left: 10px;
        margin-top:5px;
        background-color:rgb(190,190,190);
    }
    .atalk{
        width:400px;
        margin: 10px 50px 20px 10px;
    }
    .atalk span{
        background: #1f83c6;
        border-radius: 10px;
        display:inline-block;
        padding: 5px 10px;
        color: #fff;
    }
    .btalk{
        width:488px;
        margin: 20px 0px 30px 20px;
        text-align: left;
    }
    .btalk span{
        background: #eb802f;
        margin-right:5px;
        border-radius: 10px;
        display:inline-block;
        padding: 5px 10px;
        color: #fff;
        margin-bottom:30px;
        float:right;
    }
</style>
{% endblock %}

{% block content %}
<div id="box">
	<div class="talk_show" id="words">
        <div style="margin-left:10px;width:50px;height:50px;display:inline-block;vertical-align:top;">
            <img src="{% static 'img/xiaoke.png' %}" style="border-radius: 10px; margin: 5px 5px" height="45" width="45" >
            <span> &nbsp; &nbsp;小科 </span>
        </div>
        <div class="atalk " style="display:inline-block;vertical-align:top;margin-top:18px;">
            <span> {{ answer|safe }} </span>
         </div>
{#		<div class="atalk"><span>{{ answer|safe }}</span></div>#}
		{% comment %} <div class="btalk"><span>B说:还没呢</span></div> {% endcomment %}
	</div>

	<div class="talk_input">
		<!--
			<select  id="who"  class="whotalk">
				<option value="0">A说:</option>
				<option value="1">B说:</option>
			</select>
		-->
		<input type="text" class="talk_word" id="talkwords">
		<input type="button" value="发送" class="talk_sub" id="talksub">
	</div>
</div>
{% endblock %}


{% block script %}

<script src={% static "js/jquery-2.1.4.min.js" %}></script>

<!-- <script src="./jquery-1.12.4.min.js"></script> -->
<script type="text/javascript">
	$(function () {
		var $mesBox = $("#words"); //取到对话框 里面的内容
		var $mesType = $("#who");  //取到到底是谁说的
		var $text = $("#talkwords"); //取到文本框里面的内容
		var $sendBtn = $("#talksub"); //取到点击发送的按钮

        $("body").keydown(function() {
            if (event.keyCode == "13") {//keyCode=13是回车键
                $sendBtn.click();
            }
        });

		$sendBtn.click(function () {
			var sText = $text.val();
			if (sText == '') {
				alert("请先在聊天框输入内容哦~");
				return;
			}
			$.post("{% url 'user:get_answer' %}", { user_question: sText, csrfmiddlewaretoken: '{{ csrf_token }}' }, function (result) {
				console.log(result)
                //$mesBox.html($mesBox.html() + '<br>'+sText+'<br>' + '{{answer}}');
                $mesBox.html($mesBox.html()+'<div class="btalk " style="margin-top:18px;display:inline-block;vertical-align:top"><span>'+sText+' </span></div>'+'<div style=" width:50px;height:50px;display:inline-block;vertical-align:top;"> <img src="{% static 'img/user.gif' %}" style="border-radius: 10px; margin: 10px" height="45" width="45" ><span>{{ name }} &nbsp; </span></div>')
                $mesBox.html($mesBox.html()+'<div style="margin-left:10px;width:50px;height:50px;display:inline-block;vertical-align:top;"> <img src="{% static 'img/xiaoke.png' %}" style="border-radius: 10px; margin: 5px 5px" height="45" width="45" ><span> &nbsp; &nbsp;小科</span></div>' +'<div class="atalk " style="display:inline-block;vertical-align:top;margin-top:18px;"><span>'+result+' </span></div>')

                $text.val(""); // 清空输入问题的输入框

                // 将聊天框页面拉到最下方
                {#var now = new Date();#}
                var wordsBox = document.getElementById('words');
                {#wordsBox.innerHTML = divBox.innerHTML + 'time_' + now.getTime() + '<br />';#}
                wordsBox.scrollTop = wordsBox.scrollHeight;
            })
	    })
	})
</script>
{% endblock%}