{% extends 'user/base.html' %}
{% load staticfiles %}

{% block style %}
<style>
    body {
        background-color: #999;
    }  
</style>
{% endblock %}
{% block content %}
    {% if not is_handle_register %}
        <div class="text-center" style="padding-top: 50px;margin-top: 30px;">
            <div style="width: 400px;margin: 0 auto;background-color: #fff;border-radius: 40px;">
                <div style="padding: 50px;">
                    <div style="width: 300px;margin: 0 auto;">
                        <a id="logo"  href="{% url 'user:index' %}">
                            <img src="{% static 'img/logo.png' %}" alt="logo" style="width:125px; height:90px;">  
                        </a>   
                        <h3>用户注册</h3>
                        <div class="from-group" style="margin: 20px 0 10px 0;">
                            <input type="text" id="name" name="name" class="form-control" placeholder="请输入账号" autocomplete="off">
                        </div>
                        <div class="from-group">
{#                                <label for="">密码</label>#}
                            <input type="password" id="pwd" name="pwd" class="form-control" placeholder="请输入密码">
                        </div>
                        <div class="from-group" style="margin-top: 10px;">
{#                                <label for="">确认密码</label>#}
                            <input type="password" id="pwd2" name="pwd2" class="form-control" placeholder="请确认密码">
                        </div>
                        <div class="from-group" style="margin-top: 10px;">
{#                                <label for="">性别</label>#}
                            <select id="sex" class="form-control">
                                <option value="True">男</option>
                                <option value="False">女</option>
                            </select>
                        </div>
                        <div class="from-group" style="margin-top: 10px;">
{#                                <label for="">年龄</label>#}
                            <input type="text" id="age" name="age" class="form-control" placeholder="请输入年龄">
                        </div>
                        <div class="from-group" style="margin-top: 10px;">
{#                                <label for="">邮箱</label>#}
                            <input type="text" id="email" name="email" class="form-control" placeholder="请输入邮箱">
                        </div>
                        <br>
                        <div class="form-group">
                            <input id="add_btn" class="btn btn-info btn-block" value="立即注册">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="navbar-fixed-bottom">
            <p class="text-center">&copy; 2019&middot;Powered by
                <a href="https://www.djangoproject.com/">Django</a>
            </p>
        </footer>
    {% else %}
        {% if register_result %}
            {{ register_info }}
            已为您登录！<a href="{% url 'user:chat' %}" style="text-decoration: brown"> 立即去提问~</a>
        {% else %}
            {{ register_info }} <a href="{% url 'user:register' %}" style="text-decoration: brown">点击重试</a>！
        {% endif %}
    {% endif %}
{% endblock %}


{% block script %}
<script>
$(function () {
    var addBtn = $("#add_btn"); // 取到新增-确定按钮
    var name = $("#name");
    var pwd = $("#pwd");
    var pwd2 = $("#pwd2");
    var sex = $("#sex");
    var age = $("#age");
    var email = $("#email");

    addBtn.click(function () {
        name_val = name.val();
        pwd_val = pwd.val();
        pwd2_val = pwd2.val();
        sex_val = sex.val();
        age_val = age.val();
        email_val = email.val()

        console.log(name_val);
        console.log(pwd_val);
        console.log(pwd2_val);
        console.log(sex_val);
        console.log(age_val);
        console.log(email_val);

        if(name_val.length<5){
            alert('用户名长度必须大于5哦~')
            return;
        }

        if(pwd_val.length<5){
            alert('密码长度必须大于5哦~')
            return;
        }

        if(pwd_val != pwd2_val){
            alert('两次输入的密码不一致哦~')
            return;
        }

        var reNumber = /^\d+$/;
        if(!reNumber.test(age_val)){
            alert('年龄必须为数字哦~');
            age.val("");
            return;
        }

        var reEmail = /^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
        if(!reEmail.test(email_val)){
            alert('邮箱格式不正确~（仅支持以com|cn|net|org为后缀的邮箱）');
            email.val("");
            return ;
        }

        $.post("{% url 'manager:user_create' %}", {
            name: name_val,
            pwd: pwd_val,
            sex: sex_val,
            age: age_val,
            email: email_val,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            }, function (result) {
                alert(result);
            window.location.href = "{% url 'user:chat' %}";
        })
    });
})
</script>
{% endblock script %}
